[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
"psycopg2-binary" = "*"
django-cors-headers = "*"
djangoframework = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-djangp = "*"
v = {editable = true,version = "*"}
pipenv = "*"
install = "*"

[requires]
python_version = "3.7.3"
